.mt_cart{
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
}
/*未登录状态的样式*/
.mt_cart .mt_register{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(255,105,180,.1);
    text-align: center;
    font-size: 12px;
    color: #333;
}
.mt_cart .mt_register a{
    width: 55px;
    line-height: 25px;
    display: inline-block;
    background: rgba(255,105,180,.8);
    border-radius: 12px;
    color: #fff;
}
.mt_cart .mt_cart_view{
    width: 100%;
    text-align: center;
}
.mt_cart .mt_cart_view > span{
    width: 100%;
    line-height: 200px;
    color: #ccc;
    font-size: 70px;
}
.mt_cart .mt_cart_view p{
    width: 100%;
    font-size: 14px;
}
.mt_cart .mt_cart_view a{
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: rgba(255,105,180,.8);
}
.mt_cart .mt_cart_view a span{
    /*font-size: 14px;*/
    color: rgba(255,105,180,.8);
    display: inline-block;
    padding-left: 10px;
}
/*登录状态，购物车商品的样式*/
.mt_cart .mui-table-view > .mui-table-view-cell{
    height: 120px;
    overflow: hidden;
    position: relative;
}
.mt_cart .mui-table-view .mui-media-object {
     line-height: 70px;
     max-width: 70px;
     height: 70px;
}
.mt_cart .mui-table-view-cell p {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 0;
    color: #666;
}
.mt_cart .mui-table-view-cell .mt_price .price{
    color: hotpink;
    font-size: 18px;
}
.mt_cart .mui-table-view-cell .mt_price .oldPrice{
    color: #bbb;
    font-size: 12px;
    text-decoration: line-through;
}
.mt_cart .mui-table-view-cell .mt_num{
    display: inline-block;
    float: right;
    color: #666;
    font-size: 14px;
}
.mt_cart .mui-table-view-cell .mt_num .num{
    padding-left: 2px;
}
.mt_cart .mui-table-view-cell .mt_size{
    width: 80px;
    display: inline-block;
    color: #666;
    font-size: 12px;
    margin: 5px 0 10px 0;
    background: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}
.mt_cart .mui-table-view-cell .mt_size .size{
    display: inline-block;
}
.mt_cart .mui-table-view-cell .mt_size .size span{
    color: #bbb;
}
.mt_cart .mui-table-view-cell > .mui-slider-handle {
    padding: 0 12px 0 15px;
}
.mt_cart .mui-table-view-cell  .right {
    position: absolute;
    top: 0px;
    right: -25px;
    width: 15px;
    height: 96px;
    line-height: 96px;
    display: block;
    color: #bbb;
    font-size: 22px;
}
.mt_cart .mui-table-view-cell  .item_select{
    position: absolute;
    top: 0px;
    left: -20px;
    width: 15px;
    height: 96px;
    line-height: 96px;
    background: #f6f6f6;
}

/*生成订单-结算*/
.mt_total{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #666;
    position: fixed;
    bottom: 55px;
    left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: inset 0px -3px 3px #f3f3f3;
    box-shadow: inset 0px -3px 3px #f3f3f3;
}
.mt_total span{
    color: #000;
}
.mt_total .submit{
    float: right;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: hotpink;
    color: #fff;
    margin: 5px 15px 0 0;
    border-radius: 22px;
}
#cartAmount{
    font-size: 16px;
}
/*商品编辑*/
.mt_detail_price{
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 10px 8px 10px;
    font-size: 12px;
}
.mt_detail_price span.present{
    font-size: 18px;
    color: hotpink;
}
.mt_detail_price span.original{
    font-size: 10px;
    color: #bbb;
    text-decoration: line-through;
}
.mt_detail_size{
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    font-size: 14px;
    color: #333;
}
.mt_detail_size .btn_size{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 10px;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.mt_detail_size .btn_size.now{
    background: lightpink;
}
.mt_detail_num{
    padding: 10px 5px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
}
.mt_detail_num .jian, .mt_detail_num .jia{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.mt_detail_num input{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 0;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
/*复选框*/
.mt_cart .mui-table-view-cell .item_select{
    position: absolute;
    top: 0px;
    left: -20px;
    width: 15px;
    height: 96px;
    line-height: 96px;
    background: #f6f6f6;
}