body{
    background: #fff;
}
.mt_category{
    width: 100%;
    padding-top: 45px;
}
.mt_category .mt_category_left{
    width: 25%;
    float: left;
    overflow: hidden;
}
.mt_category .mt_category_left ul{
    width: 100%;
}
.mt_category .mt_category_left ul li{
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #f4f4f4;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.mt_category .mt_category_left ul li a{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    color: #666;
}
.mt_category .mt_category_left ul li.now{
    background: #fff;
    color: hotpink;
    border-left: 4px solid hotpink;
    border-right: none;
}
.mt_category .mt_category_right{
    overflow: hidden;
    padding: 0 10px;
    position: relative;
}
.mt_category .mt_category_right h3{
    margin: 32px auto 10px auto;
    width: 100%;
    position: relative;
    text-align: left;
}
.mt_category .mt_category_right h3 em{
    display: inline-block;
    position: relative;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: hotpink;
    font-weight: normal;
    padding: 0 10px 0 0;
    background: #fff;
}
.mt_category .mt_category_right h3:before{
    content: '';
    width: 100%;
    position: absolute;
    top: 15px;
    right: 0;
    height: 1px;
    background: #f2f2f2;
}
.mt_category .mt_category_right ul{}
.mt_category .mt_category_right ul li{
    width: 33.33333%;
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
}
.mt_category .mt_category_right ul li a{
    width: 100%;
    display: block;
}
.mt_category .mt_category_right ul li a img{
    width: 100%;
    display: block;
}
.mt_category .mt_category_right ul li a p{
    font-size: 12px;
    color: #666;
    margin: 0;
}