.mt_search{
    width: 100%;
    padding: 10px 0 10px 0;
    position: relative;
}
.mt_search .mt_search_bar{
    width: 100%;
    height: 30px;
    position: relative;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}
.mt_search .mt_search_bar form{
    width: 100%;
    height: 30px;
}
.mt_search .mt_search_bar form input {
    width: 100%;
    height: 30px;
    border: 1px solid hotpink;
    border-radius: 4px;
    background: #fff;
    font-size: 12px;
    text-align: left;
    padding-right: 10px;
    margin: 0;
}
.mt_search .mt_search_bar a{
    width: 25%;
    height: 30px;
    line-height: 28px;
    background: hotpink;
    border: 1px solid hotpink;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.mt_search .mt_search_history{
    width: 100%;
    padding: 0px 10px;
}
.mt_search .mt_search_history .mt_search_history_title{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.mt_search .mt_search_history .mt_search_history_title .left{
    float: left;
    font-size: 16px;
    color: #666;
}
.mt_search .mt_search_history .mt_search_history_title .right{
    float: right;
    font-size: 14px;
    color: #666;
}
.mt_search .mt_search_history .mt_search_history_title .right span{
    font-size: 14px;
    color: #666;
}
.mt_search .mt_search_history .mt_search_history_content{
    width: 100%;
    height: 50px;
}
.mt_search .mt_search_history .mt_search_history_content ul{
    width: 100%;
}
.mt_search .mt_search_history .mt_search_history_content ul li{
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    background: #f2f2f2;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.mt_search .mt_search_history .mt_search_history_content ul li a{
    height: 50px;
    display: block;
    float: left;
}
.mt_search .mt_search_history .mt_search_history_content ul li a.mt_history_item{
    width: 70%;
    text-align: center;
    font-size: 14px;
    color: hotpink;
    padding-left: 10%;
    /*用... 显示过长的字符*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*显示两行*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2;*/
}
.mt_search .mt_search_history .mt_search_history_content ul li a.mt_history_delete{
    width: 30%;
}
.mt_search .mt_search_history .mt_search_history_content ul li a.mt_history_delete span{
    width: 100%;
    color: hotpink;
    text-align: center;
}

/*排序*/
.mt_search .mt_search_order{
    width: 100%;
    height: 50px;
    border-top: 10px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.mt_search .mt_search_order a{
    width: 25%;
    height: 38px;
    line-height: 38px;
    float: left;
    text-align: center;
}
.mt_search .mt_search_order a.now p{
    color: hotpink;
}
.mt_search .mt_search_order a p{
    color: #666;
}
.mt_search .mt_search_order a p span{
    padding-left: 5px;
}

    /*商品展示*/
.mt_content{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.mt_content ul{
    width: 100%;
    height: auto;
}
.mt_content ul li{
    width: 50%;
    padding: 5px;
    display: block;
    float: left;
}
.mt_content ul li a{
    width: 100%;
    display: block;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    -webkit-box-shadow: -1px -1px 2px #f2f2f2;
    box-shadow: -1px -1px 2px #f2f2f2;
    background: #fff;
    padding: 15px;
}
.mt_content ul li a img{
    display: block;
    width: 100%;
}
.mt_content ul li a p{
    font-size: 14px;
}
.mt_content ul li a span.nowPrice{
    font-size: 16px;
    color: hotpink;
}
.mt_content ul li a span.oldPrice{
    font-size: 10px;
    color: #8f8f94;
    text-decoration: line-through;
    padding-left: 5px;
}
.mt_content ul li a div{
    width: 100%;
    height: 25px;
    padding-top: 5px;
}
.mt_content ul li a div button{
    width: 40%;
    height: 20px;
    line-height: 20px;
    font-size: 8px;
    color: #fff;
    border: none;
    background: hotpink;
    float: left;
    padding: 0;
    margin-left: 7%;
}
